* {
    padding: 0;
    margin: 0; 
}
.fondo {
    background-image: url('../assets/images/fond1.jpg');
    background-size: 1400px 800px;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    padding: 4px 0 11px 0;
    color: white;
    background-color: rgba(0, 255, 255, 0.329);
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 4px;
}

article {
    margin: 7px 70px 0 70px;
    box-sizing: border-box;
}

div.container1 {
     display: inline-block;
     width: 370px;
     border-radius: 5px;
}

.portada {
    width: auto;
    height: 105px;
    background-color: rgba(0, 255, 255, 0.329);
}
.img-perfil {
    position: relative;
    bottom: 28px;
    left: 14px;
    width: 100px;
    border:3px solid rgba(255, 255, 255, 0.466);
    border-radius: 70px;
}

.parraf{
    position: relative;
    bottom: 115px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.534);
    z-index: -1;
}

.text {
    font-size: 21px;
    color:rgb(90, 89, 89);
    display: inline-flex;
    position: relative;
    left: 130px;
    top:14px;
}

/*estilos del segundo div*/

div.container2{
    position:relative;
    bottom :30px; 
    display: inline-block;
    margin-left: 28px;
    background-color: rgba(255, 255, 255, 0.507);
    width: 700px;
}
/*la etiqueta textarea*/
 textarea { 
  height: 145px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 11px;
  box-sizing: border-box;
}

.line {
    background:rgb(192, 228, 235);
    height: 3px;
    width: 700px;
}

.btn {
    background-color: rgba(39, 218, 238, 0.555);
    border: none;
    border-radius: 5px;
    color: #ffffffee;
    display: block;
    outline: none;
    padding: 12px 28px;
    margin: 21px 0 4px 10px ;;
  }
  
  .btn:hover {
      background-color: #a09c9c;
  }

  .cont {
      float: right;
      font-size:21px; 
  }

/*salida del mensaje  en la pantalla*/
.outText{
    background:rgba(255, 255, 255, 0.315);
    color:black;
    width:98%;
    height:auto;
    border:none;
    margin-top: 7px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-wrap: break-word; /*crece el div dependiendo del texto*/
  /*line-height: 20px; */
}


.seagreen {
    color: seagreen;
  }
  
  .greenyellow {
    color: greenyellow;
  }
  
  .orangered {
    color: orangered;
  }
  
  .red {
    color: red;
  }

